.conteudo-principal {
    width: 95%;
    margin-left: 5%;
    height: 681px;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
}

.container-informacoes {
    width: 100%;
    height: 50%;
    display: flex;
    /* background-color: rebeccapurple; */
    flex-direction: row;
}

.coluna-filtro {
    width: 55%;
    /* background-color: white; */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.header-select-linha {
    width: 75%;
    height: 20%;
    background-color: #efefef;
    border-radius: 2px;
    border: 1px solid #171796;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.select-linha {
    height: 35px;
    margin-left: 10px;
    border: 1px solid black;
    text-align: center;
}

.filtros-pesquisa {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ipt-pesquisar-estacao::part(base) {
    width: 450px; /* Defina a largura desejada */
    border: 1px solid #ccc;
    border-radius: 20px; /* Torna as bordas redondas */
    /* font-size: 16px; */
    background-color: #efefef;
    margin-bottom: 10px;
}

.texto-pesquisa h3 {
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif; /* Define a fonte como Open Sans */
}

.filtros-prontos {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filtrar-botoes::part(base) {
    width: 100px; /* Defina a largura desejada */
    background-color: #efefef;
}

.filtrar-botoes:last-of-type::part(base) {
    width: 100px;
    background-color: #8c52ff;
    color: white;
    border: none;
}


.coluna-kpis {
    width: 55%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.kpis-alertas, .kpis-problemas {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.card-alerta, .card-problema {
 width: 250px;
 background-color: #345aab21;
 border-radius: 2px;
 padding: 12px;
 border: 1px solid #171796;
 box-shadow: -6px 7px 10px -3px rgba(17, 17, 88, 0.452);
 height: 100px;
 text-align: center;
 color: #171796;
}

.span-numero {
    font-size: 40px;
    font-weight: bold;
}

#total_maquinas {
    margin-right: 10px;
}

/* .card-problema {
    width: 300px;
    background-color: #eeff5244;
    border: 1px solid #171796;
    border-radius: 2px;
    padding: 10px;
    height: 110px;
    text-align: center;
    color: #171796;
    display: flex;
    flex-direction: column;
    gap: 20px
} */

.card-footer {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.div-numero {
    font-size: 40px;
    font-weight: bold;
    /* margin-left: 20px; */
}

.footer-texto {
    margin-top: 22px;
    margin-left: 8px;
    color: red;
}

.qtd-problemas {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    margin-left: 60px;
}

.qtd-problemas .texto {
    margin-top: 25px;
    margin-left: 5px;
}

.container-maquinas {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-maquina {
    background-color: #efefef;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #171796;
    box-shadow: -6px 7px 10px -3px rgba(17, 17, 88, 0.452);
}
.card-maquina:hover{
    background-color: #17179634;
    cursor: pointer;
}

#primeira_linha, #segunda_linha {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    /* justify-content: space-between; */
}

.img-pc {
    width: 40px;
}

.estacao-alerta {
    display: flex;
    flex-direction: row;
}

.icone-perigo {
    color: #f21d3c;
    margin: 5px 5px 0px 0px;
}

.icone-cuidado {
    color: #fec23e;
    margin: 5px 5px 0px 0px;
}

.selecionado {
    height: 6vh;
    border-radius: 20px;
    background-color: rgba(64, 13, 105, 0.451);
}