@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap');

.menuHeader {
  display: flex;
  flex-direction: row;
  width: 100%
}

.header-info {
  width: 78%;
}


