@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap');

body {
  overflow: hidden;
}

.menuHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
}

h3 {
  margin: 0; 
  padding: 0;
}

.header-info {
  width: 95%;
  height: 50px;
  margin-left: 5%;
  background-color: #efefef;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-info .info {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
}

.info1 a {
  text-decoration: none;
  /* margin-top: 10%; */
  margin-right: 10px;
  color: black;
}

.select-estacao {
  color: black;

}

.info2 {
  position: fixed;
  right: 0;
  margin-right: 20px;
  font-weight: bold;
}

.span-so, .span-cpu, .span-ram, .span-disco, .span-uso {
  font-weight: normal;
  color: #5c4fa9;
  margin-right: 10px;
}

.container-principal {
  width: 100%;
  /* height: 631px; */
  margin-left: 4%;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-evenly;
}

.coluna-1 {
  display: flex;
  flex-direction: column;
  width: 57%;
  align-items: center;
  margin-top: 30px;
}

.container-graficos {
  height: 510px;
  width: 105%;
  background-color: #ffffff;
  border: 1px solid #5c4fa9;
  border-radius: 10px;
  display: flex;
  /* margin-bottom: 10px; */
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-around;
  background-color: #ebdcf5;
}

.graficos-coluna-1, .graficos-coluna-2{
display: flex;
flex-direction: column;
}

.semana{
  margin-top: 20px;
  color: #5c4fa9;
  margin-bottom: 10px;
}

.grafico-cpu, .grafico-ram, .grafico-disco, .grafico-temperatura {
  /* width: 340px; */
  height: 175px;
  /* background-color:  #c79cff; */
  margin: 8px;
  /* background-color: white; */
}

.container-kpis {
  width: 100%;
  /* height: 110px; */
  /* background-color: white; */
  /* margin-top: 40px; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.kpi-cpu, .kpi-disco, .kpi-ram, .kpi-temperatura {
  height: 120px;
  width: 150px;
  background-color: #efefef;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  /* word-wrap: break-word; */
  text-align: center;
  border: 1px solid #5c4fa9;
  border-radius: 5px;
}

/* .kpi-ram {
  background-color: #ffde59;
}

.kpi-temperatura {
  background-color: #ff3131;
} */


.coluna-2 {
  display: flex;
  flex-direction: column;
  width: 12%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.indicadores-linha {
  display: flex;
  flex-direction: line;
  padding: 5px;
}

.indicadores-linha .indicador {
  margin-right: 15px;
  white-space: pre;
}

.indicadores-linha .indicadorTemperatura {
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.indicador {
  display: flex;
  height: 50px;
  width: 65px;
  font-size: 12px;
  word-wrap: break-word;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  padding: 5px;
}

.indicadorTemperatura {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 100px;  
  font-size: 12px;
  word-wrap: break-word;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

.container-usb {
  display: flex;
  width: 150px;
  height: 120px;
  border: 1px solid #5c4fa9;
  border-radius: 5px;
  font-size: 14px;
  
  /* margin-top: 60px; */
  /* align-items: center; */
  text-align: center;
  justify-content: space-around;
  color: black;
  padding: 10px;
  background-color: #efefef;
  flex-direction: column;
}

#usbs_conectados {
  color: #011640;
}

.comentarios {
  display: flex;
  width: 100%;
  margin-left: 3%;
  justify-content: flex-start;
  /* border: #5c4fa9 1px solid; */
  margin-top: 40px;
}

.bloco-de-comentario{
  width: 80px;
  height: 60px;
}

.bloco-de-comentario:hover{
  cursor: pointer;
  /* background-image: url('../assets/imgs/bloco.png'); */
  width: 90px;
  height: 70px;
  color: #5c4fa9;
}


.divComentario{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  z-index: 10;
  background-color: #4644478e;
}

.temTudoComentario{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 55%;
  height: 90vh;
  background-color: #8993bf;
  border: 2px solid #5c4fa9;
  transition: opacity 10s ease;
  border-radius: 15px;
  /* z-index: 11; */
}


.headerComentario {
  z-index: 11;
  display: flex;
  margin-top: 20px;
  width: 95%;
  height: 10vh;
  align-items: center;
  justify-content: space-evenly;
}

.select-categoria{
  padding: 10px;
  background-color: #e6e1ff;
  color: black;
  border-radius: 15px;
  border: black solid 1px;
  width: 45%;
}

.addComentario{
  color: white;
  background-color: #2f1c9c;
  border-radius: 60px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fecharComentario{
  color: white;
  background-color: #b93636;
  border-radius: 60px;
  width: 50px;
  position: absolute;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  margin-top: 15px;
  margin-right: 15px;
}

.fecharComentario:hover{
  background-color: #ff6767;
  cursor: pointer;
  /* transition: 2s ease; */

}





.addComentario:hover{
  background-color: #8773fa;
  cursor: pointer;
  transition: 0.6s ease;
}

.caixaComentario{
  display: flex;
  margin-left: 15%;
  padding: 10px;
  flex-direction: column;
  margin-top: 10px;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  border-radius: 5px;
  /* width: 61%; */
  border: #2f1c9c 1px solid;
  /* height: 18vh; */
}

.caixaComentar{
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: space-evenly;
  border: #2f1c9c 1px solid;
  border-radius: 5px;
  width: 65%;
  height: 60vh;
  margin-left: 15%;
  margin-top: 10px;
  padding: 10px;
}

.todosComentarios {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 75%;
  height: 70vh;
  margin-left: 4%;
}

.comentar{
  background-color: #954bc0;
  padding: 20px;
  border-radius: 30px;
  color: wheat;
  cursor: pointer;
  border: solid 1px black;
}

.comentar:hover{
  background-color: rgb(226, 179, 245);
  color: #954bc0;
  border: 1px solid black;
}

.funcionario{
  height: 3vh;
  width: 60%;
  border-radius: 5px;
  border: #2f1c9c solid 1px;
  font-size: 14px;
  margin-left: 5px;
  padding: 8px;
}

.descricao{
  height: 30vh;
  width: 98%;
  border-radius: 5px;
  border: #2f1c9c solid 1px;
  font-size: 20px;
  padding: 6px;
  display: flex;
  overflow: hidden;
}

.comente{
  color: #2f1c9c;
}

.tem-botao{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.botao-comentar{
  background-color: #8ad459;
  width: 40%;
  height: 5vh;
}

.botao-comentar:hover{
  background-color: #46a009;
  cursor: pointer;
  color: white;
}

.botao-cancelar{
  background-color: #d46759;
  width: 40%;
  height: 5vh;
}

.botao-cancelar:hover{
  background-color: #db1717;
  color: white;
  cursor: pointer;
}

.data{
  display: flex;
  font-size: 12px;
  color: #4b4953;
}

.email{
  font-size: 12px;

  /* padding-left: 5px; */
}

.comentario{
  font-size: 16px;
}

.coluna-3 {
  display: flex;
  flex-direction: column;
  width: 18%;
  margin-top: 20px;
}

.alertas-header {
  display: flex;
  width: 280px;
  height: 30px;
  margin-top: 10px;
  border: 1px solid #5c4fa9;
  border-radius: 2px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.alertas-quadrado {
  display: flex;
  width: 280px;
  height: 68.8px;
  border: 1px solid #5c4fa9;
  border-top: none;
  padding-top: 2px;
  /* text-align: center;
  justify-content: center;
  align-items: center; */
  /* word-wrap: break-word; */
}

.vermelho {
  margin: 0 5px 0 5px;
  color: red;
  font-weight: bold;
}

.amarelo {
  margin: 0 5px 0 5px;
  color: #e9cf0a;
  font-weight: bold;
}

.icone-perigo {
  color: #f21d3c;
  margin: 5px 5px 0px 0px;
}

.icone-cuidado {
  color: #fec23e;
  margin: 5px 5px 0px 0px;
}
