body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    /* width: 95vw; */
}

.header {
    background-color: #efefef;
    width: 100%;
    height: 50px;
    /* padding-left: 4%; */
    margin-left: 5%;
    text-align: left;
    font-size: 24px; 
    display: flex;
    align-items: center;
    justify-content: center;  
}

.header h3 {
    margin: 0;
}

.combobox-style {
    /* background-color: #efefef; */
    width: 100%;
    height: 50px;
    /* padding-left: 4%; */
    margin-left: 5%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.combobox-style p{
    color: #5c4fa9;
    font-size: 25px;
}

.selectBonito{
    padding: 10px;
    margin-left: 5px;
    border: 1px solid #5c4fa9;
    border-radius: 10px;
}

.container-estacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;   
    /* padding: 30px; */
    /* overflow:hidden; */
}

.containerExibir {
    /* background-color: #F27A5E; */
    margin-top: 80px;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* position: relative; */
    height: 80%;
    z-index: 2;
    overflow-x: scroll;
}

.quadrado-perfil {
    background-color: #f3f3f3;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid black;
    width: 500px;
    /* height: 85; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.input-container {
    /* display: ; */
    border: none;
    border-radius: 5px;
    /* background-color: #c6bdbd76; */
    padding: 5px;
    width: 80px;
    justify-content: center;
}

.input-container label {
    margin-bottom: 2px;
    margin-top: 5px;
    padding: 2px;
}

.input-container input {
    padding: 5px;
    border: 1px solid #797979;
    border-radius: 5px;
    /* width: 97%;
     */
    width: 480px;

}

.botao-cadastrar {
    background-color: #5c4fa9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
}

.menuDireita {
    position: fixed;
    top: 0;
    right: 0;
    width: 10%; 
    height: 100vh; /* Garante que o menu direito ocupe toda a altura da tela */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .itemDireita{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    border-bottom: solid white 1px;
    margin-top: 10px;
    margin-bottom: 50px; 
    cursor: pointer;
  }

.item{
    cursor: pointer;
}


.quadrado-estacao {
    background-color: #f3f3f3;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid black;
    width: 500px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
}

#container-estacao{
    justify-content: space-evenly;
    /* height: 30% ; */
}

.nomeNumero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selecionar{
    cursor: pointer;
    /* color: #5c4fa9; */
}

.selecionar:hover{
    color: #F27A5E;
    transition: 2.0 ease;
}


.input-container-editar {
    /* display: ; */
    /* border: none; */
    border-radius: 5px;
    background-color: #ebd8d876;
    padding: 5px;
    width: 80px;
    justify-content: center;
}

.botao_salvar{
    background-color: #5c4fa9;
    color: white;
    border-radius: 25px;
    border: white 1px solid;
}

.cancelar{
    margin-left: 95%;
}