body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.header {
    position: relative;
    z-index: -3;
    background-color: #efefef;
    width: 100%;
    height: 50px;
    /* padding-left: 4%; */
    /* margin-left: 5%; */
    text-align: left;
    font-size: 24px; 
    display: flex;
    align-items: center;
    justify-content: center;  
}

.header h3 {
    margin: 0;
}

.container-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    /* overflow:hidden; */
}

.quadrado-perfil {
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #201a42;
    width: 675px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-photo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.profile-photo img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.alter-image-btn {
    margin-top: 10px;
    /* color: white; */
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
    /* cursor: pointer; */
}

.profile-inputs {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 20px 0;
}

.secao-esquerda,
.secao-direita {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-container label {
    margin-bottom: 5px;
}

.input-container input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profile-footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.botao-alterar {
    background-color: #5c4fa9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.botao-alterar:hover{
    background-color: #201a42;
    /* color: #000000; */
    /* border: 1px solid #5c4fa9; */
  }
  